# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
flow-typed

# testing
/coverage

# production
/public/index.html
/public/assets/*.js
/public/sw.js
/public/assets/images/*.svg
/public/assets/images/*.gif
/public/assets/images/*.png
/public/assets/images/*.jpg
/public/assets/images/*.jpeg

# misc
.DS_Store
npm-debug.log*
selenium-debug.log

test/specs/e2e/tests_output/*
