<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="./manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="React PWA">
    <link rel="apple-touch-icon" href="./assets/images/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="./assets/images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2D2D2D">
    <meta name="theme-color" content="#2D2D2D">
    <style>
      .cssload-container > p {
        text-align: center;
        position: absolute;
        top: 60%;
        left: 0;
        right: 0;
        font-family: Helvetica, Arial, sans-serif;
        color: #2D2D2D;
      }

      .cssload-whirlpool,
      .cssload-whirlpool::before,
      .cssload-whirlpool::after {
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid rgb(204,204,204);
        border-left-color: rgb(0,0,0);
        border-radius: 974px;
          -o-border-radius: 974px;
          -ms-border-radius: 974px;
          -webkit-border-radius: 974px;
          -moz-border-radius: 974px;
      }

      .cssload-whirlpool {
        margin: -24px 0 0 -24px;
        height: 49px;
        width: 49px;
        animation: cssload-rotate 1150ms linear infinite;
          -o-animation: cssload-rotate 1150ms linear infinite;
          -ms-animation: cssload-rotate 1150ms linear infinite;
          -webkit-animation: cssload-rotate 1150ms linear infinite;
          -moz-animation: cssload-rotate 1150ms linear infinite;
      }

      .cssload-whirlpool::before {
        content: "";
        margin: -22px 0 0 -22px;
        height: 43px;
        width: 43px;
        animation: cssload-rotate 1150ms linear infinite;
          -o-animation: cssload-rotate 1150ms linear infinite;
          -ms-animation: cssload-rotate 1150ms linear infinite;
          -webkit-animation: cssload-rotate 1150ms linear infinite;
          -moz-animation: cssload-rotate 1150ms linear infinite;
      }

      .cssload-whirlpool::after {
        content: "";
        margin: -28px 0 0 -28px;
        height: 55px;
        width: 55px;
        animation: cssload-rotate 2300ms linear infinite;
          -o-animation: cssload-rotate 2300ms linear infinite;
          -ms-animation: cssload-rotate 2300ms linear infinite;
          -webkit-animation: cssload-rotate 2300ms linear infinite;
          -moz-animation: cssload-rotate 2300ms linear infinite;
      }

      @keyframes cssload-rotate {
        100% {
          transform: rotate(360deg);
        }
      }

      @-o-keyframes cssload-rotate {
        100% {
          -o-transform: rotate(360deg);
        }
      }

      @-ms-keyframes cssload-rotate {
        100% {
          -ms-transform: rotate(360deg);
        }
      }

      @-webkit-keyframes cssload-rotate {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @-moz-keyframes cssload-rotate {
        100% {
          -moz-transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body>
    <div id="root">
      <div class="cssload-container">
        <div class="cssload-whirlpool"></div>
        <p>Loading...</p>
      </div>
    </div>
  </body>
</html>
