@import '../../assets/_setup';

.Home {
  text-align: center;
  .App-intro {
    margin-top: 10em;
    > h1 {
      color: $brand;
      font-size: $base-font-size*3;
      font-weight: $bold-weight;
      letter-spacing: -0.035em;
      line-height: $base-line-height;
    }
    > .btn {
      background-color: #FFFFFF;
      padding: 10px;
      color: #2D2D2D;
    }
    > .logo {
      animation: Header-logo-spin infinite 20s linear;
      height: 150px;
      fill: #FFFFFF;
    }
  }
}
