$brand: #61DAFB;
$black: #2D2D2D;

// Typography
$base-text-align: left; // switch for rtl
$sans-serif-stack: Helvetica, Arial, sans-serif;

$base-font-size: 1.25em;
$base-line-height: 1.5;
$bold-weight: 600;
